<div id="userLogin">
  <h1 id="label">Login</h1>
  <form>
    <div class="form-group">
      <label for="knownUserId" class="float-left">Username or Email Address</label>
      <input class="form-control" id="knownUserId">
    </div>
    <div class="form-group">
      <label for="knownUserPassword" class="float-left">Password</label>
      <input type="password" class="form-control" id="knownUserPassword">
    </div>
    <button class="btn btn-primary" id="knownUserLogin">Login</button>
    <hr>
    <button class="btn btn-primary" id="createAccount" onclick="makeAccount()">Create New Account</button>
  </form>
</div>

