<nav class="navbar bg-light">
    <a class="navbar-brand">Financial Friend-Z</a>
  </nav>
<br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card justify-content-center">
      <div class="card-body text-center" id="accountBox">
        {{>login}}
      </div>
    </div>
      </div>
    </div>
    
  </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>


<style>
  body{
    background: url(https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-cartoon-fresh-blue-underwater-diving-background-worldcartoonseabackground-display-boardadbackground-image_54824.jpg)no-repeat center center fixed;
    background-size: cover;
  }
</style>